**/.DS_Store
**/Thumbs.db
**/.idea/**
**/target/
**/.iml
**/*.jar
/logs/
**/.project
**/.settings
**/.classpath
**/.vscode
.factorypath
**/.apt_generated/**
*.lst
*.iml
.ipr
.iws
*.diff
*.patch
*.bak
.*proj
*.swp
*.swo
*.log
*.log.*
*.json.gzip
node_modules/
.buildpath
.settings
npm-debug.log
_site
dist
/lib
/bin
/es
/pro
/coverage
yarn.lock
/.history
jest_*
.jest-cache/
**/test/java/**
/vendor/
go.sum
iris.log
halyard**
**/*.kubeconfig
kubectl
test.yaml